# Côté GAUCHE (entrées d'horloge / reset)
#N
clk_i
rst_n_i

# Côté BAS — UART, I2C, SPI
#S
uart0_rx_i
uart0_tx_o
uart1_rx_i
uart1_tx_o
i2c0_scl_io
i2c0_sda_io
i2c1_scl_io
i2c1_sda_io
spi0_cs_o
spi0_sclk_o
spi0_mosi_o
spi0_miso_i
spi0_dio0_i
spi1_cs_o
spi1_sclk_o
spi1_mosi_o
spi1_miso_i

# Côté DROITE — PWM
#E
pwm_o\[0\]
pwm_o\[1\]
pwm_o\[2\]
pwm_o\[3\]
pwm_o\[4\]
pwm_o\[5\]

# Côté HAUT — GPIO
#W
gpio_in_i\[.*\]
gpio_out_o\[.*\]
gpio_oeb_o\[.*\]
